header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-container {
    margin: 0;
    padding: 10px 20px;
    background-color: #fff;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div {
    display: flex;
    align-items: center;
}


.hamburger {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.youtube-logo{
    color: black;
    margin-left: 28px;
}

.search-bar {
    display: flex;
    align-self: flex-start;
    height: 44px;
    position: relative;
    width: 100%;
    max-width: 830px;
    padding: 0px 50px;
}

.search-query-input {
    width: 100%;
    height: 44px;
    background: rgb(235, 235, 235, 0.3);
    outline: none;
    border: none;
    border-radius: 26px;
    padding: 0 56px 0 24px;
    font-size: 12px;
}

.search-query-submit {
    width: 56px;
    height: 44px;
    margin-left: -56px;
    background: none;
    border: none;
    outline: none;
}

.search-query-submit:hover {
    cursor: pointer;
}

.profile-container{
    display: flex;
    gap: 50px;

    img{
        cursor: pointer;
    }
}   
